@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Michroma&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary: #fff;
    --neon: 53E0D3;
   --bg: hsl(323 21% 16%);
}
a {
    text-decoration: none;
}

h1 {
    font-family: 'Audiowide', cursive;
    font-weight: bold;
    font-size: xxx-large;
    color: var(--primary);
}