
.client-container {
    padding: 50px 0px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%,
    rgba(43,114,124,1) 76%, rgba(0,212,255,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}
.logo-container {
    margin: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 80%;
    height: 70%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

}
.sub-logo-container {
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.sub-logo-container img {
    height: 80px;
    width: 80px;
    border-radius: 5px;

}

.sub-logo-container a:hover {
    color: rgba(0,212,255,1);
    box-shadow: 0 0 10px #53E0D3,
    0 0 20px #53E0D3,
    0 0 40px #53E0D3,
    0 0 80px #53E0D3,
    0 0 160px #53E0D3;
    border-radius: 5px;
}
@media screen and (max-width: 768px) {
    .client-container h2{
        text-align: center;
        font-size: 24px;
    }
}
