
body {
    font-family: 'Michroma', sans-serif;
    color: #fff;
    letter-spacing: 3px;
    position: relative;
}
legend {
    font-size: 1.5rem;
}

.contact-container {
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 10vh;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%,
    rgba(43,114,124,1) 76%, rgba(0,212,255,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-title-container {
    margin-bottom: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-title-container h4 {
    font-size: 1.2rem;
}
form {
    width: 70%;
}
.fieldset {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.fieldset-above {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact-col-left {
    width: 35%;
    height: 325px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 2em;
    padding: 1em;
    box-shadow: 0 0 10px #53E0D3,
    0 0 20px #53E0D3,
    0 0 40px #53E0D3,
    0 0 80px #53E0D3,
    0 0 160px #53E0D3;
}
.contact-col-left h4 {
    font-size: 1rem;
}
.contact-detail-info {
    font-size: 1rem;
}
.contact-col-right {
    width: 55%;
    height: 325px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 2em 2em 2em 0;



}
.contact-element {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.contact-element input {
    width: 100%;
    font-size: 1rem;
    border-radius: 5px;
    height: 30px;
    font-family: 'Michroma', sans-serif;
}
.contact-element-other {
    display: block;
    width:100%;
}
.contact-element-other input {
    width: 100%;
    height: 30px;
    font-size: 1rem;
    border-radius: 5px;
    font-family: 'Michroma', sans-serif;
}
.contact-element-other textarea {
    width: 100%;
    height: 30px;
    font-size: 1rem;
    border-radius: 5px;
    font-family: 'Michroma', sans-serif;
}