
body {
    font-family: 'Michroma', sans-serif;
    color: #fff;
    letter-spacing: 3px;
    position: relative;
}
legend {
    font-size: 1.5rem;
}

.contact-container {
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 10vh;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%,
    rgba(43,114,124,1) 76%, rgba(0,212,255,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-title-container {
    width: 95%;
    margin-bottom: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-title-container h2 {
    text-align: center;
}
.contact-title-container h4 {
    font-size: 1.2rem;
    text-align: center;
    margin: 0 1em;
}

form {
    width: 55%;
}
.fieldset {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.fieldset-above {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact-col-left {
    width: 35%;
    height: 325px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 2em;
    padding: 1em;
    box-shadow: 0 0 10px #53E0D3,
    0 0 20px #53E0D3,
    0 0 40px #53E0D3,
    0 0 80px #53E0D3,
    0 0 160px #53E0D3;
}
.contact-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
.contact-details p {
    margin-bottom: 0;
}
.contact-col-left h4 {
    font-size: 1rem;
}
.contact-detail-info {
    font-size: 1rem;
}
.contact-col-right {
    width: 55%;
    height: 325px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 2em 2em 2em 0;



}
.contact-element {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.contact-element input,
.contact-element-other input,
.contact-element-other textarea,
.contact-submit {
    width: 100%;
    font-size: 1rem;
    border-radius: 5px;
    height: 30px;
    font-family: 'Michroma', sans-serif;
}
.contact-element-other {
    display: block;
    width: 100%;
}
.fieldset-bottom {
    margin: 1em 2em 2em 2em;
}
.contact-submit {
    font-weight: bolder;



}
.contact-submit:hover {
    cursor: pointer;
    box-shadow: 0 0 10px #53E0D3,
    0 0 20px #53E0D3,
    0 0 40px #53E0D3,
    0 0 80px #53E0D3,
    0 0 160px #53E0D3;
}

@media screen and (max-width: 1300px) {
    .contact-container {
        height:auto;
    }
    .fieldset-above {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact-col-left {
        align-items: flex-start;
        width: 70%;
        font-size: 0.7rem;
    }
    .contact-title-container h2 {
        margin-top: 2em;
    }
    .contact-title-container h4 {
        font-size: 1.2rem;
        text-align: center;
        margin: 0 1em;
    }
    .contact-col-right {
        width: 70%;
        margin: 2em;
    }
    .fieldset-bottom {
        margin:0 0 2em 0;
        padding:0;
        width: 100%;
        display: flex;
        justify-content: center;

    }
    .contact-submit {
        width:70%;

    }
    form {
        width:70%;
        margin-bottom: 5em;
    }

}