body {
    font-family: 'Michroma', sans-serif;
    color: #fff;
    letter-spacing: 3px;
    position: relative;
}

.review-container {
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(43, 114, 124, 1) 76%,
    rgba(0, 212, 255, 1) 100%);
}
.review-container h2 {
    text-align: center;
    margin-bottom: 1.5em;
    width: 80%;
}

.review-item-container {
    width: 65%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.info {
    width: 80%;
}
.person-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.review-btn {
    font-family: 'Michroma', sans-serif;
    background-color: transparent;
    border-color: transparent;
    text-transform: capitalize;
    font-size: 1.25rem;
    letter-spacing: 2px;
    margin: 0.5rem 0.5rem;
    cursor: pointer;
    padding: 0.25rem 0;
    line-height: 1;
    color: white;
    transition: all 0.1s ease-in;
    border-radius: 5px;

}
.review-btn:hover {
    color: rgba(0,212,255,1);
    box-shadow: 0 0 10px #53E0D3,
    0 0 20px #53E0D3,
    0 0 40px #53E0D3,
    0 0 80px #53E0D3,
    0 0 160px #53E0D3;;
}

@media screen and (max-width: 768px) {
    .review-item-container {
        height: auto;
    }
}

